.navbar {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 130px;

    .top__banner {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1A1A1A;
    }

    .banner__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
    }

    .navbar__wrapper {
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__links {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar__link {
        width: 98px;
        height: 46px;
        border-radius: 100px;
        border: 1px solid var(--navbar-main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: #656567;
    }

    .navbar__link:hover {
        background: var(--second-c);
        color: #262626;
    }

    .navbar__right {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 100px;
        background: var(--main-c);
    }

    .navbar__contact {
        width: 144px;
        height: 46px;
        border-radius: 100px;
        border: 1px solid var(--navbar-main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: #262626;
    }
    
    .navbar__contact:hover {
        background: var(--second-c);
        color: #262626;
    }

    .hamburger__menu {
        display: none;
    }
}